<div class="row">
    <div class="col-md-12">
        <h4>Copy-Tool</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <textarea class="form-control" rows="5" [(ngModel)]="newText"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary copy-button" (click)="copyText()">Copy</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="file" class="form-control" (change)="copyFile($event)">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li *ngFor="let message of acceptMessages; trackBy:trackByMessages">
                <span class="label label-default">{{message.moment}}</span>
                <span class="label label-info">{{message.kind}}</span>
                <button *ngIf="message.kind === 'text'" class="btn btn-xs btn-default clipboard" attr.data-clipboard-target="#clipboard_{{message.id}}">copy</button>
                <pre *ngIf="message.kind === 'text'" id="clipboard_{{message.id}}">{{message.value}}</pre>
                <a *ngIf="message.kind === 'file'" class="btn btn-link" [href]="message.url" [download]="message.value.name">{{message.value.name}}</a>
            </li>
        </ul>
    </div>
</div>