* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.copy-button {
    width: 100%;
}

.row {
    margin-top: 5px;
}
